* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

main {
    text-align: center;
    height: 100vh;
}
#bigBox {
    display: inline-block;
}
#bigBox > div:nth-child(2) {
    margin-left:-30px;
}
#bigBox > div:last-child {
    margin-left: -100px;
}

kbd > button {
    font-size: 10px;
    color: #888;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover > button {
    display: inline-block;
}
.key {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
    height: 40px;
    text-transform: uppercase;
    position: relative;
    color: #c5c5c5;
    background: linear-gradient(to bottom,#292929 0%,#111111 100%);
    border: 1px solid #373737;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 1px #1a1b1c, 0px 0px 0px 2px #1f2020, 0px 3px 0px 2px #080808;
    margin: 10px 10px;
}